<mat-toolbar class="mat-elevation-z6 position-sticky">
  <!-- <mat-icon
    class="example-icon"
    aria-hidden="false"
    aria-label="Example heart icon"
    >menu</mat-icon
  > -->
  <button mat-button [routerLink]="['/']">Home</button>
  <!-- <span class="example-spacer"></span> -->
  <button mat-button [routerLink]="['/messages']">
    Messages
  </button>

  <span class="example-spacer"></span>
  <button *ngIf="!auth.isAuthenticated" mat-button [routerLink]="['/login']">
    login
  </button>
  <button *ngIf="!auth.isAuthenticated" mat-button [routerLink]="['/register']">
    Register
  </button>

  <button *ngIf="auth.isAuthenticated" mat-raised-button [routerLink]="['/']">
    Welcome {{ auth.name }}
  </button>

  <button *ngIf="auth.isAuthenticated" mat-button (click)="auth.logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
